.theme-btn{

    text-align: center;
  }

  .sellformbtn11{
    clip-path: polygon(500% 0, 100% 100%, 88% 100%, 0 100%, 0 0);
    /*font-size: small !important;*/
    border-radius: 26px !important;
   }

   .theme-btngrad{
    float: right; 
    background-color: #00FFFF; 
  }
  