

.container-border 
 { border: #282c34 solid 2px;
  margin: auto;}

  .theme-btn{

    text-align: center;
  }

  .sellformbtn11{
    clip-path: polygon(500% 0, 100% 100%, 88% 100%, 0 100%, 0 0);
    /*font-size: small !important;*/
    border-radius: 26px !important;
   }

   .theme-btngrad{
    float: right; 
    background-color: #40C1AC; 
  }
  
  .theme-btngrad:hover{
    float: right; 
    background-color: #07bb9d; 
  }

  .btn-primary {
    --bs-btn-border-color: none;}

    .App {
      font-family: sans-serif;
      text-align: center;
    }
    
  
  .chart {
      position: relative;
  }

  
  .footer-style {
    position: relative;
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 0px auto;
    padding: 6px;
    margin-top: 20px;
    background-color: #85c9bb;
    text-align: center;
    /*** blog-widget  ***/
  }

  .theme-btngrad1{
    float: left; 
    margin-left: 600px;
    background-color: #40C1AC; 
  }

